<!-- Fix svg issue -->
<main>
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Clinica Online</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">

      <li>
        <a href="#" class="nav-link">
          Dashboard
        </a>
      </li>


      <li *ngIf="this.userRole == 'admin'" class="nav-item">
        <a (click)="navigateToUsers()" class="nav-link active" aria-current="page">
          Administrar Usuarios
        </a>
      </li>

      <li *ngIf="this.userRole == 'paciente'" class="nav-item">
        <a (click)="navigateToMyAppointments()" class="nav-link" aria-current="page">
          Mis turnos
        </a>
      </li>


      <li *ngIf="this.userRole == 'paciente'" class="nav-item">
        <a (click)="navigateToMakeAnAppointment()" class="nav-link" aria-current="page">
          Reservar turno
        </a>
      </li>


      <li *ngIf="this.userRole == 'especialista'" class="nav-item">
        <a (click)="navigateToMyVisits()" class="nav-link active" aria-current="page">
          Mis Turnos
        </a>
      </li>




    </ul>
    <hr>

        <a (click)="LogOut()" class="nav-link active" aria-current="page">
          Cerrar Sesion
        </a>

  </div>