<app-spinner [isLoading]="isLoading" [message]="loadingMessage"></app-spinner>

<div class="main-container d-flex" style="height: 100vh;">
    <app-sidebar></app-sidebar>
    <div class="content-wrapper d-flex flex-column align-items-center p-4">
        <h2 class="text-center mb-4">Selecciona una Especialidad</h2>
        <div class="specialty-buttons d-flex flex-wrap justify-content-center">
            <div *ngFor="let specialty of specialties" class="specialty-item m-2">
                <button
                    class="btn specialty-button"
                    (click)="selectSpecialty(specialty.especialidad)"
                    [style.backgroundImage]="'url(' + specialty.image + ')'"
                >
                </button>
                <p class="specialty-name mt-2 text-center">{{ specialty.especialidad }}</p>
            </div>
        </div>
        <div *ngIf="doctors.length > 0; else noDoctors" class="doctor-buttons d-flex flex-wrap justify-content-center">
            <div *ngFor="let doctor of doctors" class="doctor-button-item m-2">
                <button class="btn btn-primary doctor-button" (click)="selectDoctor(doctor)">
                    <div class="doctor-info">
                        <div class="doctor-name">{{ doctor.firstName }} {{ doctor.lastName }}</div>
                        <img [src]="doctor.profileImage" alt="{{ doctor.firstName }} {{ doctor.lastName }}" class="doctor-image">
                    </div>
                </button>
            </div>
        </div>
        <ng-template #noDoctors>
            <p>No hay doctores disponibles.</p>
        </ng-template>
        <div *ngIf="groupedSlots.length > 0" class="available-slots mt-4 w-100">
            <h3 class="text-center">Turnos disponibles</h3>
            <div class="row">
                <div *ngFor="let group of groupedSlots" class="col-12 mb-4">
                    <h4 class="text-center" (click)="toggleSlots(group.date)">
                        {{ group.date | formatDate }} <span [ngClass]="{'arrow-up': isOpen[group.date], 'arrow-down': !isOpen[group.date]}"></span>
                    </h4>
                    <div *ngIf="isOpen[group.date]">
                        <div class="row">
                            <div *ngFor="let slot of group.slots" class="col-3 mb-2"> 
                                <button 
                                    class="btn slot-button w-100" 
                                    [ngClass]="{'reserved-slot': isSlotReserved(slot)}" 
                                    [disabled]="isSlotReserved(slot)" 
                                    (click)="!isSlotReserved(slot) && bookAppointment(slot)">
                                    {{ slot | formatHour }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>