main {
    background-image: url('https://boxjlgemcqztmbmmdcmq.supabase.co/storage/v1/object/public/TP_FINAL_LABO4/shutterstock_242389561-2560x852.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

