<body>
    <div class="main-container d-flex" style="height: 100vh;">
        <app-sidebar @slideFromLeft ></app-sidebar>
        <div class="content-wrapper d-flex flex-column ">
    <main style="height: 100vh;">
        <div class="position-relative overflow-hidden p-3 p-md-5  text-center header">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal">Clinica OnLine</h1>
                <p class="lead text-dark fw-normal">Gestiona tus turnos de manera sencilla</p>
            </div>
        </div>

        <div @slideFromBelow class="d-md-flex flex-md-equal w-100 my-md-1 ps-md-3" style="height: 48vh;">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-primary overflow-hidden w-50 border border-5 border-primary" 
                 style="border-radius: 10px; height: 100%;">
              <div class="my-3 py-3">
                <h2 class="display-4">¿Quienes somos?</h2>
                
                <p class="mt-4">
                    Somos el software líder en Argentina para la gestión de turnos médicos, 
                    transformando la manera en que clínicas y profesionales organizan su agenda. 
                    Con más de 500,000 turnos gestionados y la confianza de más de 1,000 especialistas, 
                    nuestra plataforma ofrece eficiencia, flexibilidad y una experiencia superior 
                    tanto para médicos como para pacientes. Simplifica tu práctica y optimiza tu tiempo 
                    con la solución preferida por las principales instituciones de salud del país.
                </p>
              </div>
            </div>
        
            <div class="bg-primary me-md-3 pt-3 px-3 text-center overflow-hidden w-50 d-flex justify-content-center align-items-center" 
                 style="height: 100%; border-radius: 10px;">
              <div class="my-3 p-3">
              </div>
              <div class="bg-light shadow-sm mx-auto d-flex flex-column justify-content-center align-items-center" 
                   style="width: 80%; height: 250px; border-radius: 10px;">
                   <a type="button" class="btn btn-primary mb-3" href="/login">Ya tengo una cuenta</a> 
                    <a type="button" class="btn btn-primary mb-3" href="/register">Registrarme</a> 
              </div>
            </div>
        </div>
    </main>
    </div>
</div>


    
