<body>
    <div class="main-container d-flex">
        <app-sidebar @slideFromLeft></app-sidebar>
        <div class="content-wrapper d-flex flex-column">
            <main>
                <div class="header text-center">
                    <div class="header-inner">
                        <h1>Clinica OnLine</h1>
                        <p>Gestiona tus turnos de manera sencilla</p>
                    </div>
                </div>

                <div @slideFromBelow class="home-cards d-flex">
                    <div class="info-card flex-fill">
                        <h2>¿Quiénes somos?</h2>
                        <p>
                            Somos el software líder en Argentina para la gestión de turnos médicos,
                            transformando la manera en que clínicas y profesionales organizan su agenda.
                            Con más de 500,000 turnos gestionados y la confianza de más de 1,000 especialistas,
                            nuestra plataforma ofrece eficiencia, flexibilidad y una experiencia superior
                            tanto para médicos como para pacientes. Simplifica tu práctica y optimiza tu tiempo
                            con la solución preferida por las principales instituciones de salud del país.
                        </p>
                    </div>

                    <div class="action-card">
                        <h2>Bienvenido</h2>
                        <a class="btn-light" href="/login">Ya tengo una cuenta</a>
                        <a class="btn-outline-light" href="/register">Registrarme</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>


    
