<div class="content-wrapper">
        <div class="role-select-page">
            <h2 class="page-title">¿Cómo querés registrarte?</h2>
            <div class="role-select-grid">
                <div class="role-card" (click)="navigateToEspecialista()">
                    <img class="role-card-img"
                        src="https://pdxwznmonhqdpvxpadpa.supabase.co/storage/v1/object/public/other/medico.avif"
                        alt="Especialista">
                    <h3>Soy Especialista</h3>
                    <p>Registrate como médico y gestioná tus turnos</p>
                    <span class="btn-action info" style="margin-top:20px">Comenzar →</span>
                </div>
                <div class="role-card" (click)="navigateToPaciente()">
                    <img class="role-card-img"
                        src="https://pdxwznmonhqdpvxpadpa.supabase.co/storage/v1/object/public/other/paciente.webp"
                        alt="Paciente">
                    <h3>Soy Paciente</h3>
                    <p>Registrate como paciente y pedí turnos con nuestro especialistas</p>
                    <span class="btn-action success" style="margin-top:4px">Comenzar →</span>
                </div>
            </div>
        </div>
</div>
