.container-fluid {
    height: 100vh; 
}

.row {
    height: 100%; 
}

.rectangular-button {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 20px; 
    border-radius: 10px; 
    width: 45%; 
    height: 70vh; 
    text-align: center;
    margin: 1vh;
    background-color: rgba(13, 110, 253, 0.8); 
    color: white; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s;
}

.rectangular-button img {
    margin-top: 4vh; 
    width: 400px;
    height: 400px; 
}

.rectangular-button:hover {
    transform: scale(1.05); 
}

body {
    background-image: url('https://boxjlgemcqztmbmmdcmq.supabase.co/storage/v1/object/public/TP_FINAL_LABO4/shutterstock_242389561-2560x852.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

