<app-spinner [isLoading]="isLoading" [message]="loadingMessage"></app-spinner>
<body>
    <div class="main-container d-flex" style="height: 100vh;">
        <app-sidebar class="sticky-sidebar"></app-sidebar>
        <div class="content-wrapper d-flex flex-column">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h2 class="text-center text-dark mt-5">¡Hola, {{ userData?.firstName || 'Usuario' }}!</h2>
                        <div class="card my-5">
                            <form class="card-body cardbody-color p-lg-5">
                                <div class="text-center">
                                    <img [src]="userData?.profileImage" class="rounded-circle" width="200px" alt="profile">
                                </div>

                                <div class="form-text text-center mb-5 text-dark"></div>

                                <div class="mb-3">
                                    <b>Nombre: </b>{{ userData?.firstName }}
                                </div>

                                <div class="mb-3">
                                    <b>Apellido: </b>{{ userData?.lastName }}
                                </div>

                                <div class="mb-3">
                                    <b>Email: </b>{{ userData?.email }}
                                </div>

                                <div class="mb-3">
                                    <b>Especialidades: </b>{{ userData?.specialties }}
                                </div>

                                <div class="form-text text-center mb-5 text-dark"></div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="container mt-4">
                            <div *ngFor="let specialty of userData.specialties; let i = index" class="card mb-3 p-3">
                              <h3 class="card-title">{{ specialty }}</h3>
                              
                              <div class="form-group">
                                <label>Duración de la cita:</label>
                                <input [(ngModel)]="appointmentDurations[i]" type="text" class="form-control" placeholder="Duración en minutos" />
                              </div>
                              
                              <div class="mt-3">
                                <h4>Días de la semana</h4>
                                <div *ngFor="let day of ['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado']" class="form-group">
                                  <label>{{ day | titlecase }}:</label>
                                  <div class="input-group mb-2">
                                    <input [(ngModel)]="schedules[i][day].start" type="time" class="form-control" placeholder="Inicio" />
                                    <input [(ngModel)]="schedules[i][day].end" type="time" class="form-control" placeholder="Fin" />
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <div class="d-flex justify-content-between">
                              <button class="btn btn-primary" (click)="updateAppointmentDuration()">Actualizar</button>
                              <button class="btn btn-secondary" (click)="resetFields()">Restablecer</button>
                            </div>
                          </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>