<body >
    <div class="main-container d-flex" style="height: 100vh;">
      <app-sidebar></app-sidebar>
      <div  @routeAnimations class="content-wrapper d-flex flex-column ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2 class="text-center text-dark mt-5">¡Hola, {{ userData?.firstName || 'Usuario' }}!</h2>
                    <div class="card my-5">
                        <form class="card-body cardbody-color p-lg-5">

                            <div class="text-center">
                                <img [src]="userData?.profileImages[0]" class="rounded-circle" width="200px" alt="profile">
                            </div>

                            <div class="form-text text-center mb-5 text-dark"></div>

                            <div class="mb-3">
                                <b>Nombre: </b>{{ userData?.firstName }}
                            </div>

                            <div class="mb-3">
                                <b>Aplleido: </b>{{ userData?.lastName }}
                            </div>

                            <div class="mb-3">
                                <b>Email: </b>{{ userData?.email }}
                            </div>

                            <div class="mb-3">
                                <b>Obra Social: </b>{{ userData?.socialInsurance }}
                            </div>

                            <div class="form-text text-center mb-5 text-dark"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</body>