<div class="row g-5">
    <div class="col-12">
      <div class="input-container">
        <div class="mb-3 mt-3">
          <img [src]="captchaImageUrl" alt="Captcha" class="captcha-image" />
        </div>
        <input type="text" [(ngModel)]="userInput" class="form-control" placeholder="Ingresa el captcha" />
      </div>

      <div class="captcha-actions">
        <button (click)="validateCaptcha()" class="btn btn-primary">Validar</button>
        <button (click)="refreshCaptcha()" class="btn btn-secondary">Refrescar</button>
      </div>
    </div>
  </div>